body{
    width: 100vw;
    background-color: cadetblue;
}

.nav-nav{
    background-color: green;
    width: 100vw;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    height: 50px;
   
    
}

h1{

    color: red;
    position: absolute;
    top: 0px;
    left: 300px;
    cursor: pointer;
    
}

h2{

    color: black;
    font-size: 25px;
    cursor:pointer;

}

.container-app{

background-color: gray;
height: max-content;
width: 100vw;
display:flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;

}

.classcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: antiquewhite;
    padding: 10px 10px;


}
.classcontainer:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.imageclass{
 width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.sinopsis{

    color: black;
    font-size: 20px;
    top:20px;
    text-align: center;

}
#globotext{

    font-size: 23px;
    top: -170px;
    left: 51px;
    position: relative;
}

#monaChina{

left: 1200px;
    position: absolute;
    
    }








@media only screen and (max-width: 600px) {
    .nav-nav{
        background-color: black;
    }
    
  }


  @media only screen and (max-width: 1270px) {
    .nav-nav{
        background-color: red;
        width: 100vw;
        position: absolute;
        margin-top: 0;
        
        
    }






    
  }