*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background: #543ed1;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 60px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    ;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    

    
}

 a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
.logoImage{
position: relative;
 width: 50px;
 height:50px;
 top: 10px;
 left: -180px;


}


.search{
    border-radius: 4px;
}

@media (max-width: 1440px) {
    label.logo{
        font-size: 35px;
        padding-left: 50px;

    }

    nav ul li a{
        font-size: 14px;
    }
} 

 @media (max-width: 1180px) {
    .checkbtn{
        display: block;
        padding-top: 22px;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover {
        background: none;
        color: #0082e6;
        padding-bottom: -30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
} 


