

    body{
        background-color: cadetblue;
    }

    #sidebar {
		width: 915px;
        background-color: #f00;
        height: 1000px;
        float: right;
        position: absolute;
        top: 150px;
        right: 4px;
        left: 20px;
        padding: 30px 15px;
        border-radius: 8px;
        background: rgb(247, 196, 43);
        background: linear-gradient(to bottom, rgb(3, 72, 95)0%, rgb(33, 42, 128) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c42b', endColorstr='#ffffff', GradientType=0 );    
    }
    #xd {
        width: 915px;
        background-color: #f00;
        height: 199px;
        float: right;
        position: absolute;
        top: 150px;
        right: 4px;
        left: 40px;
        padding: 30px 15px;
        border-radius: 8px;
        background: rgb(247, 196, 43);
        background: linear-gradient(to bottom, rgb(3, 72, 95)0%, rgb(33, 42, 128) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c42b', endColorstr='#ffffff', GradientType=0 );    
	}
	

	.noticias-container{
		width: 800px;
		height: 200px;
		background-color: white;
		padding: 15px 10px;
		margin: 10px;
		border-radius: 10px;
	}


	#image-size{
		height: 150px;
		width: 180px;
	}

	div.noticias-container img.izquierda {
		float: left;
		margin-right: 15px;
	  }


	#texto-padding{
		padding: 10px 10px;
  }
  
  
.container-contact{
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 700px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: coral;
  border-radius: 3px;

}

#nombres-ali li{
  margin-left: 90px;
  display: inline;
  margin-right: 80px;
  font-size: 20px;    
}

.alinear-text{
    text-align: center;
}

.info-container{
  width: 200px;
  height: 150px;
  margin-left: 20px;
}

#center-image {
  padding: 15px 15px;
  margin-left: 150px;
  
}
#zero{
width: 900px;
height: 900px;
position: relative;
right: -1300px;
top: 80px;

}

