body{
    width: 100vw;
    background-color: cadetblue;
}
#wrapper_body{
	margin-top: 35px;
	position: relative;
}

#sidebar {
	width: 390px;
	background-color: #f00;
	height: 774px;
	float: right;
	position: absolute;
	top: 80px;
	right: 50px;
	padding: 30px 36px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: rgb(247, 196, 43);
	background: linear-gradient(to bottom, rgb(4, 50, 65)0%, rgb(255, 255, 255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c42b', endColorstr='#ffffff', GradientType=0 );    
}

#programa{
    color:white;
    position: absolute;
	top: 20px;
}

#content h1{
	font-size: 30px;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #ffffff;
	cursor:pointer;

}

#content h2{
	font-size: 17px;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #ffffff;
	height: 349px;
	position: absolute;
	left: 3px;
	top: 60px;
	cursor:pointer;

}

#content h3{
	font-size: 17px;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #ffffff;
	height: 349px;
	position: absolute;
	right: 950;
	bottom: 178;
	left: 3px;
	top: 310px;
	cursor:pointer;

}

#content h4{
    font-size: 17px;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #ffffff;
	height: 349px;
	position: absolute;
	bottom: 178;
	margin-left: 1px;
	left: 300px;
	top: 59px;
	margin-left: 17px;
	cursor:pointer;

}

#content h5{
	font-size: 17px;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #ffffff;
	height: 349px;
	position: absolute;
	bottom: 178;
	margin-left: 1px;
	left: 926px;
	top: 60px;
	margin-left: 18px;
	cursor:pointer;

}

#content h6{
	font-size: 17px;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #ffffff;
	height: 349px;
	position: absolute;
	bottom: 170px;
	margin-left: 1px;
	left: 616px;
	top: 60px;
	margin-left: 17px;
	cursor:pointer;

	
}

#anime_emision{
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
	
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#xd{
width: 294px;
height: 140px;
margin: 0;
position: absolute;
top: 313.3px;
left: 303px;
z-index: 1;
margin-left: 17px;
font-size: 17px;
font-weight: 300;
letter-spacing: -0.3px;
color: #ffffff;
cursor:pointer;

}
#xd1{
	width: 294px;
	height: 140px;
	margin: 0;
	position: absolute;
	top: 313.3px;
	left: 620px;
	margin-left: 17px;
	z-index: 1;
	font-size: 17px;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #ffffff;
	cursor:pointer;

	}
	#xd2{
		width: 294px;
		height: 140px;
		margin: 0;
		position: absolute;
		top: 313.3px;
		left: 937px;
		margin-left: 17px;
		z-index: 1;
		cursor:pointer;
		
		font-size: 17px;
		font-weight: 300;
		letter-spacing: -0.3px;
		color: #ffffff;
		}
		#xd3{
			width: 294px;
			height: 140px;
			margin: 0;
			position: absolute;
			top: 560px;
			left: 620px;
			margin-left: 17px;
			z-index: 1;
			font-size: 17px;
			font-weight: 300;
			letter-spacing: -0.3px;
			color: #ffffff;
			cursor:pointer;

		}
			#xd4{
				width: 294px;
				height: 140px;
				margin: 0;
				position: absolute;
				top: 560.3px;
				left: 937px;
				margin-left: 17px;
				z-index: 1;
				cursor:pointer;
				
				font-size: 17px;
				font-weight: 300;
				letter-spacing: -0.3px;
				color: #ffffff;
				}
				#xd5{
					width: 294px;
					height: 140px;
					margin: 0;
					position: absolute;
					top: 560.3px;
					left: 303px;
					z-index: 1;
					margin-left: 17px;
					font-size: 17px;
					font-weight: 300;

					cursor:pointer;
					letter-spacing: -0.3px;
					color: #ffffff;
					}
					#xd6{
						width: 294px;
						height: 140px;
						margin: 0;
						position: absolute;
						top: 560.3px;
						left: -13px;
						z-index: 1;
						margin-left: 17px;

						cursor:pointer;
						font-size: 17px;
						font-weight: 300;
						letter-spacing: -0.3px;
						color: #ffffff;
						}
#emision{
	font-size: 25px;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #ffffff;
	
}
.cal_event_title {
    font-size: 22px;
	letter-spacing: -1px;
	
}
#eventos_cal a {
    text-decoration: none;
	color: green;
	font-size: 100px;
}
#eventos_cal a:hover {
	text-decoration: underline;
}

#publi{
	margin: 0;
	position: absolute;
	top: 460.3px;
	left: 0px;
	z-index: 1;
	font-size: 24px;
	}
	#publi2{
		margin: 0;
		position: absolute;
		top: 660.3px;
		right: 140px;
		z-index: 1;
		font-size: 24px;

		}